<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag(comment.user.avatar.url(:thumb), class: 'media-object', alt: 'Commerical') %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <%= comment.user.username %></h4>
    <p>
      <%= comment.body %>
    </p>

  </div>
</div>