<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "write comments ..." %>
  </div>

    <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>
