<div class="media">
  <div class="media-left">
    <li class="square-image-50"><%= image_tag(user.avatar_url) %></li>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to user.username, user %></h4>
  </div>
</div>