<div class="media">
  <div class="media-left">
    <li class="round-image-50"><%= image_tag(current_user.avatar_url) %></li>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to user.email, user %></h4>
  </div>
</div>