<li id="post-<%= post.id %>">
  <span class="content">
    <h4>
      <%# post.title %>
      <%= link_to post.title, post,  data: { turbolinks: 'false' }%>
    </h4>
    <p>
      <%= link_to_image(post.image_url, post, data: { turbolinks: 'false' }, size: '256x256') %>
    </p>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>