<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-7 well">
    <h3>
      <%= @post.title %>
    </h3>

    <p>
      <%= image_tag(@post.image_url) if @post.image? %>
    </p>
    <%= social_share_button_tag(post.title)%>

    <div class="fb-comments" data-colorscheme="dark" data-width="100%"></div>

  </div>
</div>


